version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      target: development
    ports:
      - "80:5173"
    depends_on:
      - backend
    restart: always
    environment:
      - VITE_CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - fullstack-network

  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    restart: always
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./backend/.wwebjs_auth:/app/.wwebjs_auth
      - ./backend/.wwebjs_cache:/app/.wwebjs_cache
      - ./backend:/app
      - /app/node_modules
    networks:
      - fullstack-network

  mongo:
    image: mongo:latest
    volumes:
      - mongo-data:/data/db

    restart: always
    networks:
      - fullstack-network

networks:
  fullstack-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local

